body{
    font-family: "Open Sans", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}
.but-primary{
    border-radius: 5px;
    background:#FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 16px 30px;
    margin-right: 30px;
}
.text-primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
    

}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
    
}
.header{
    background-color: #FFF8F3;
    background-image: url('../image/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-contant{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
   font-size: 45px;
   color: #474747;
   margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-driscriptin{
    margin-bottom: 30px;
    font-size: 16px;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px ;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal ;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

main{
    max-width: 1040px;
    margin: 0px auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    margin-bottom: 1px;
    color: #757575;
    font-size: 20px;
    
}
.info-description{
    margin-top: 1px;
    font-size: 20px;
    color: #474747;
}
#whid-i-do-description{
    padding: 30px 150px;
}

.skills-Container{
    display: flex;
    gap: 24px;
}
.skill-description{
    /* padding: 30PX; */
    color: #757575;
}
.skills{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
}
main section{
    margin-top: 130px;
}
.resume-column-tile{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.Resume-container{
    display: flex;
}
.resume-item-title{
    font-size: 25px;
    color: #474747;
    padding-bottom: none;
}
.resume-item-institute{
    color: #757575 ;
}
.resume-description{
    color: #757575;
}